// Variables
$background-color: #150202;
$text-color: rgb(255, 255, 255);
$header-background: #150202;
$footer-background: #141414;
$product-background: rgb(189, 189, 189);
$product-hover-background: #3d3d3d;
$button-background: #000000;
$button-hover-background: #313131;