@media (max-width: 768px) {
    header {
        flex-direction: column;

        nav {
            padding: 10px 0px;
        }
    }

    .footer-row {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 30px; 
        padding: 20px;
    }

    
}

@media (max-width: 425px) {
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: hidden; 
    }

    header {
        flex-direction: column; 
        align-items: center; 

        .logo img {
            height: 40px; 
        }

        .nav-link {
            font-size: 14px; 
            padding: 5px; 
        }

        .carrito {
            height: 40px; 
        }
    }

    .contenedor {
        flex-direction: column; 
        align-items: center;
    }

    .contenedor .producto { 
        width: calc(90% - 40px); 
        margin: 10px 0; 
    }

    .imagen-inicio img {
        width: 100%; 
        height: auto; 
    }

    .boton {
        font-size: 1.5em;
        padding: 8px 16px; 
    }

    .footer-links {
        width: 100%;
        margin: 10px 0;
    }

    .mas-productos {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        margin: 20px 0; 

        .producto {
            width: 90%; 
            margin-bottom: 20px; 
            padding: 15px; 
            background-color: $product-background; 
            border-radius: 8px; 

            
            img {
                width: 100%; 
                height: auto; 
                border-radius: 5px;
            }

            h3 {
                font-size: 1.2em; 
                text-align: center; 
            }

            .precio {
                font-size: 1.2em; 
                text-align: center;
            }
        }
    }

    .carrito-contenedor {
        width: 100%; 
        padding: 0; 
        margin-bottom: 90px; 
        box-sizing: border-box; 
    }

    .carrito-productos {
        display: flex;
        flex-direction: column; 
        align-items: stretch; 
        width: 100%; 
        padding: 0; 
    }

    .carrito-productos {
        display: flex;
        flex-direction: column; 
        align-items: stretch; 
        width: 100%; 
        padding: 0; 
    }
    
    .producto-carrito {
        width: 100%; 
        margin: 30px 0; 
        padding: 10px; 
        box-sizing: border-box; 
        text-align: center;
        background-color: #f8f8f8; 
        border-radius: 8px; 
        flex-direction: column; 
        align-items: center; 

        h3,
        .precio-carrito,
        input {
            margin-bottom: 5px; 
        }

        button {
            margin-top: 10px; 
            margin-left: 0; 
            width: 100%; 
        }
    }
    
    
    .imagen-carrito {
        width: 60px; 
        height: 60px; 
        object-fit: cover; 
    }


    .carrito-boton-finalizar {
        width: 100%; 
        margin-top: 20px; 
    }
}

@media (max-width: 320px) {
    header {
        nav {
            display: flex;
            flex-direction: column; // Coloca los enlaces uno debajo del otro
            align-items: center; // Alinea los enlaces al inicio

            a {
                margin-bottom: 10px; // Añade espacio entre los enlaces
            }
        }
    }
}